<!DOCTYPE html>

<html>
    <body>
        <h1>Dog-Cat-Fish</h1>
        <h3> Prank! This is *not* a CAT </h3>
        <img src="https://i.insider.com/5484d9d1eab8ea3017b17e29?width=1100&format=jpeg&auto=webp" width="400">
    </body>
</html>