<html>
    <h1>Hello you've been to this page {{count}} times!</h1>
        <h4>
        <a href="/cookies/">reload</a>
        </h4>

        <h4>
        <a href="/cookies/reset">reset cookies</a>
        </h4>

        <h4>
        <a href="/">home</a>
        </h4>

</html>