<!DOCTYPE html>

<html>
    <body>
        <h1>Dog-Cat-Fish</h1>
        <h3> Prank! This is *not* a DOG </h3>
        <img src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/other/cat_relaxing_on_patio_other/1800x1200_cat_relaxing_on_patio_other.jpg" width="400">
    </body>
</html>