<!DOCTYPE html>

<html>
    <h1>Facts about....</h1>
        {{#each arr}}
            <ul><li><div>{{this}}</div></li></ul>
        {{/each}}
        <form id="form"> 
        <input type="search" id="query" name="topic" placeholder="topic">
        <input type="search" id="query" name="num" placeholder="num">
        <button>Search</button>
        </form>
</html>