<!DOCTYPE html>

<html>
    <body>
        <h1>Dog-Cat-Fish</h1>
            <ul>
            <li> if you ask for dog you get cat </li>
            <li> if you ask for cat you get dog </li>
            <li> get it? </li>
            <li> if you ask for pet you get... </li>
            <ul>
                <li>dog if type=dog </li>
                <li>cat if type=cat </li>
                <li>'undefined' otherwise </li>
            </ul>
            <li>if you ask for fish you get this page </li>
            </ul>
            <a href="/index">home</a>
    </body>
</html>