<!DOCTYPE html>

<html>
    <body>
        <h1>Ooooh cool index</h1>
        <ul>
            <li> 
                <a href="/dog"> dog</a>
            </li>
            <li>
                <a href="/cat"> cat</a>
            </li>
            <li>
                <a href="/fish"> fish</a>
            </li>
        </ul>
        query
        <ul>
            <li> 
                <a href="/pet?type=dog"> dog</a>
            </li>
            <li>
                <a href="/pet?type=cat"> cat</a>
            </li>
            <li>
                <a href="/pet?type=fish"> fish</a>
            </li>
        </ul>
        facts about
        <ul>
            <li> 
                <a href="/facts"> facts</a>
            </li>
        </ul>
        Nasa
        <ul>
            <li> 
                <a href="/apod"> apod</a>
            </li>
        </ul>
    </body>
</html>