<!DOCTYPE html>

<html>
    <body>
        test {{val}} test
        <ul>
            <li> 
                <a href="/test">link</a>
            </li>
                
            <li>
            
            </li>
            
            <li>
            
            </li>
            <li>
            
            </li>
        </ul>
    </body>
</html>