<!DOCTYPE html>
<html>
<body>
	 <h1>Hello you've been to this page {{count}} times!</h1>
	<a href="{{login_link}}">login</a><br>
	<a href="/cookiesauth">reload</a><br>
	<a href="/cookiesauth/reset">reset</a><br>
	</p>
</body>
</html>