<!DOCTYPE html>
<html>
<head>
</head>

<body>
	<h1>Hello, {{user}} </h1>
	<p>
	This is visit #{{count}}<br>
	<a href="/cookiesauth">reload</a><br>
	<a href="/cookiesauth/reset">reset</a><br>
	<a href="/cookiesauth/logout">logout</a><br>
	<a href="/">home</a><br>
	</p>
</body>
</html>