<!DOCTYPE html>

<html>
    <h1>
    Weather
    </h1>
    <ul>

    </ul>

        <form id="form"> 
        <label for="latl">Latitude:</label><br>
        <input type="text" name="lat" id="latl"><br>
        <label for="longl">Longitude:</label><br>
        <input type="text" name="long" id="longl"><br>
        <button>get weather</button>
        </form>
</html>